@model danielmoorhouse.Models.Blog.BlogDetailModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BlogDetailModel</h4>
    <hr />
  
       
 
            
     
            @Model.Title
      
            @Model.PostedOn
       
            
            @Model.P1BlogContent
            @Model.P2BlogContent
            @Model.P3BlogContent

      
          <img src="@Model.P1ImageUrl" style="width: 100px;" />  
          <img src="@Model.P2ImageUrl" style="width: 100px;" /> 
          <img src="@Model.P3ImageUrl" style="width: 100px;" /> 
     
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
